<%= form_for(@code) do |f| %>
  <% if @code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code.errors.count, "error") %> prohibited this code from being saved:</h2>

      <ul>
      <% @code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :code %>
    <div class="controls">
    <%= f.text_field :code %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password %>
    <div class="controls">
    <%= f.text_field :password %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :username %>
    <div class="controls">
    <%= f.text_field :username %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_deleted %>
    <div class="controls">
    <%= f.check_box :is_deleted %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
    <%= link_to 'Back', codes_path, :class => 'btn' %>
  </div>
<% end %>
