<%= form_for @code, html: {class: "form-horizontal"} do |f| %>
  <% if @code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code.errors.count, "error") %> prohibited this code from being saved:</h2>

      <ul>
      <% @code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-group">
        <label class='col-lg-2 control-label'>Code</label>
        <div class="col-lg-4">
          <%= f.text_field :code, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label class='col-lg-2 control-label'>Password</label>
        <div class="col-lg-4">
          <%= f.text_field :password, :class => 'form-control' %>
        </div>
        <div class='col-lg-2'>
          <button type='button' id='generate' class="btn">Generate</button>
        </div>
      </div>

      <div class="form-group">
        <label class='col-lg-2 control-label'>Username</label>
        <div class="col-lg-4">
          <%= f.text_field :username, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label class='col-lg-2 control-label'>Deleted</label>
        <div class="col-lg-4">
          <%= f.check_box :is_deleted, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class='col-lg-2'></div>
        <div class="col-lg-4">
          <%= f.submit 'Save', :class => 'btn btn-primary' %>
          <%= link_to 'Back', codes_path, :class => 'btn btn-default' %>
        </div>
      </div>
<% end %>
